<form
  #myForm="ngForm"
  (ngSubmit)="editTask(myForm.value); myForm.reset()"
  class="container"
>
  <div class="form-group">
    <label for="description">Task Description</label>
    <input
      type="text"
      class="form-control mt-2"
      name="description"
      [(ngModel)] = "task.description"
      disabled
    />
  </div>
  <div class="form-check">
    <label for="completed">Completed</label>
    <input
      type="checkbox"
      class="form-check-input"
      id="completed"
      name="completed"
      [(ngModel)] = 'task.completed'
    />
  </div>
  <button type="submit" class="btn btn-primary">Apply</button>
</form>
